@import '~bootstrap/scss/bootstrap';
body {
  background: radial-gradient(circle, #f0ad4e, white);
  backface-visibility: visible;
}
h1 {
  color: #ff0000;
  text-align: center;
}
#out {

   position: fixed;
   right:10px;
   top:5px;
}
#button {
  background: #dc3545 solid;
  position: fixed;
  center: 5px;
  justify-content: center;
  text-align: center;
  &:hover {
    background: #175;
}
}
/*start {
  text-align: center;
}*/

.content {
  background: #add8e6;
  margin: .4vw 0;
  padding: .4vw;
}

.container-row {
  // background: #dc3545;
  // border: solid 2px black;
  margin: .4vw 0;
  padding: .4vw;
  width: 400px;
  justify-content: center;
}

.unit {
  background: #c69;
  border: solid black 1px;
  color: black;
  font-size: 5vw;
  height: 85px;
  text-align: center;
  width: 85px;
  &:hover {
    background: #036;
}
}

.form-group {
  justify-content: flex-end;
  border: 2px solid #000;
}

h3 {
  justify-content: space-between;
  text-align: center;
  color: #228B22;
}
