.comtainer {
  width: 300px;
  overflow: hidden;
  margin: 50px 0 auto;
}

.container .box {
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  transition: all;
  font-size: 85px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
}

.container .box:hover {
  background-color:
