@import '~bootstrap/scss/bootstrap';

h1 {
  color: #ff0000;
  text-align: center;
}
button {
  background-color: inherit;
  text-align: center;
  position: absolute;

}
button:hover {
  background: #175;
}
 ads {
  background: #adab66;
  margin: .4vw 0;
  padding: .4vw;
  text-align: center;
}

.content {
  margin: .4vw 0;
  background: #add8e6;
  padding: .4vw;
}

.container {
  border: solid 2px black;
  margin: .4vw 0;
  background: #red;
  padding: .4vw;
}

.unit {
  border: solid black 1px;
  font-size: 5vw;
  background: #c69;
  text-align: center;
  color: red;
  width: 85px;
  height: 85px;
}

.unit:hover {
   background: #036;
}
